@import "../fonts";
@import "../colors";

header {
	background-color: $darkBrown;

	.title-section {
		text-align: center;
		height: 14em;
	}

	h1 {
		font-weight: $fontLight;
		font-size: 7.5em;
		font-weight: bold;
		color: white;
		line-height: 140px;
	}
}