@import "fonts";
@import "colors";

html {
	width: 100%;
	height: 100%;
}

body {
	height: 100%;
	overflow: hidden;
	font-size: 10px; /* reset */
	box-sizing: border-box !important;
	background-color: $lightBrown;
}

/* Override the dumb part of bootstrap's styles */
h1 {
	margin: 0;
}

.container {
	font-size: $textMedium;
	font-family: 'Open Sans';
	font-weight: $fontLight;

	.game-section {
		text-align: center;

		button {
			ont-size: 1.2em;
			font-weight: $fontLight;
			text-transform: uppercase;
			outline: 0;
			border: 0;
			margin: 20px 5px;
			padding: 10px 30px;
			background: $salmon;
			border-bottom: 2px solid $darkSalmon;
			border-right: 2px solid $darkSalmon;
			color: white;
		}

		.choose-competitor button:nth-child(2n) {
			background: $blue;
			border-bottom: 2px solid $darkBlue;
			border-right: 2px solid $darkBlue;
			color: white;
		}
	}
}